        <header class="mm-admin-header">
          <div class="mm-admin-brand">
            <img src="./icons/icon32.png" width="32" height="32" alt="" aria-hidden="true" />
            <span class="mm-admin-title">MagickMonkey</span>
          </div>
          <mm-admin-tabs current="<%= currentTab %>" nav-label="Extension pages"></mm-admin-tabs>
        </header>
