                <div class="mm-nodata"<% if (typeof dataRef !== 'undefined' && dataRef) { %> data-ref="<%= dataRef %>"<% } %>>
                  <span class="mm-nodata-icon" data-icon="nodata" aria-hidden="true"></span>
                  <p class="mm-nodata-title"><%= title %></p>
                  <p class="mm-nodata-hint"><%- hint %></p>
                </div>
