<div class="mm-script-skeleton-row" aria-hidden="true">
  <div class="mm-script-cell mm-script-cell--index"><span class="mm-skeleton mm-skeleton-index"></span></div>
  <div class="mm-script-cell mm-script-cell--name">
    <div class="mm-script-name-block" aria-hidden="true">
      <span class="mm-skeleton mm-script-name-icon-skeleton"></span>
      <span class="mm-skeleton mm-skeleton-name-stack"></span>
    </div>
  </div>
  <div class="mm-script-cell mm-script-cell--file"><span class="mm-skeleton mm-skeleton-file"></span></div>
  <div class="mm-script-cell mm-script-cell--release"><span class="mm-skeleton mm-skeleton-release-stack"></span></div>
  <div class="mm-script-cell mm-script-cell--ota"><span class="mm-skeleton mm-skeleton-ota-stack"></span></div>
  <div class="mm-script-cell mm-script-cell--service"><span class="mm-skeleton mm-skeleton-service"></span></div>
  <div class="mm-script-cell mm-script-cell--actions"><span class="mm-skeleton mm-skeleton-actions"></span></div>
  <div class="mm-script-cell mm-script-cell--switch"><span class="mm-skeleton mm-skeleton-switch"></span></div>
</div>
