<div class="mm-script-skeleton-row" aria-hidden="true">
  <div class="mm-script-cell mm-script-cell--index"><span class="mm-skeleton mm-skeleton-index"></span></div>
  <div class="mm-script-cell mm-script-cell--name"><span class="mm-skeleton mm-skeleton-name"></span></div>
  <div class="mm-script-cell mm-script-cell--file"><span class="mm-skeleton mm-skeleton-file"></span></div>
  <div class="mm-script-cell mm-script-cell--service"><span class="mm-skeleton mm-skeleton-service"></span></div>
  <div class="mm-script-cell mm-script-cell--updated"><span class="mm-skeleton mm-skeleton-updated"></span></div>
  <div class="mm-script-cell mm-script-cell--rules"><span class="mm-skeleton mm-skeleton-rules"></span></div>
  <div class="mm-script-cell mm-script-cell--switch"><span class="mm-skeleton mm-skeleton-switch"></span></div>
</div>
