<div class="mm-script-cell mm-script-cell--index" role="columnheader"><span class="mm-script-col-label">#</span></div>
<div class="mm-script-cell mm-script-cell--name" role="columnheader"><span class="mm-script-col-label">Name</span></div>
<div class="mm-script-cell mm-script-cell--file" role="columnheader"><span class="mm-script-col-label">File</span></div>
<div class="mm-script-cell mm-script-cell--service" role="columnheader"><span class="mm-script-col-label">Service</span></div>
<div class="mm-script-cell mm-script-cell--updated" role="columnheader"><span class="mm-script-col-label">Updated</span></div>
<div class="mm-script-cell mm-script-cell--rules" role="columnheader" aria-hidden="true"></div>
<div class="mm-script-cell mm-script-cell--switch" role="columnheader" aria-hidden="true"></div>
