<div class="mm-script-cell mm-script-cell--index" role="columnheader"><span class="mm-script-col-label">#</span></div>
<div class="mm-script-cell mm-script-cell--name" role="columnheader"><span class="mm-script-col-label" data-mm-tooltip="Userscript @name and @description">Name</span></div>
<div class="mm-script-cell mm-script-cell--file" role="columnheader"><span class="mm-script-col-label" data-mm-tooltip="Managed script filename in the Gist">File</span></div>
<div class="mm-script-cell mm-script-cell--release" role="columnheader"><span class="mm-script-col-label" data-mm-tooltip="@version, server release stage, and last update">Release</span></div>
<div class="mm-script-cell mm-script-cell--ota" role="columnheader"><span class="mm-script-col-label" data-mm-tooltip="Client bundle track: STB (stable) or ALP (alpha)">OTA</span></div>
<div class="mm-script-cell mm-script-cell--service" role="columnheader"><span class="mm-script-col-label" data-mm-tooltip="Server endpoint that hosts this script (script key)">Service</span></div>
<div class="mm-script-cell mm-script-cell--actions" role="columnheader" aria-hidden="true"></div>
<div class="mm-script-cell mm-script-cell--switch" role="columnheader" data-ref="master-switch"></div>
